<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Postal Codes Map</title>
    <link rel='stylesheet' href='/static/styles.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Postal Codes</h1>
    <table id="postcodes">
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for postal_code_data in postal_codes %}
            <tr>
                {% for place_data in postal_code_data %}
                <td>{{ place_data }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>