<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Postal Codes Map</title>
    <link rel='stylesheet' href='/static/styles.css'>
    <script src='/static/script.js'></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>Postal Codes</h1>
    <img style="display:none;" id="mapImg" src="/static/assets/large-detailed-physical-map-of-poland.jpg" alt="Map">
    <canvas id="mapCanvas" width="1700" height="1520"></canvas>
    <table id="postcodes">
        <thead>
            <!-- <tr>
                {% for header in headers %}
                <th>{{ header|title }}</th>
                {% endfor %}
            </tr> -->
        </thead>
        <tbody>
            <!-- {% for postal_code_data in postal_codes %}
            <tr>
                {% for place_data in postal_code_data %}
                <td>{{ place_data }}</td>
                {% endfor %}
            </tr>
            {% endfor %} -->
        </tbody>
    </table>
</body>
</html>